<div class="row">
    <div class="d-none d-md-block col-md-3">
       <div class="list-group toolbar-sticky p-3">
           <div class="list-group-item list-group-item-primary">Section</div>
            <a href="javascript:void(0)" (click)="scrollToElement(formInput)" class="list-group-item list-group-item-action">Input</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formInputTag)" class="list-group-item list-group-item-action">Input with Tags</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formDropdown)" class="list-group-item list-group-item-action">Select (dropdown)</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formTagDropdown)" class="list-group-item list-group-item-action">Select with Tags</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formTextarea)" class="list-group-item list-group-item-action">TextArea</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formCheckbox)" class="list-group-item list-group-item-action">Checkbox</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formDate)" class="list-group-item list-group-item-action">Date</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formDaysOfWeek)" class="list-group-item list-group-item-action">Days of Week</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formTime)" class="list-group-item list-group-item-action">Time</a>
            <a href="javascript:void(0)" (click)="scrollToElement(formInputGroups)" class="list-group-item list-group-item-action">Grouping Controls</a>
            <a href="javascript:void(0)" (click)="scrollToElement(progress)" class="list-group-item list-group-item-action">Progress</a>
            <a href="javascript:void(0)" (click)="scrollToElement(buttons)" class="list-group-item list-group-item-action">Buttons</a>
            <a href="javascript:void(0)" (click)="scrollToElement(toasts)" class="list-group-item list-group-item-action">Toasts</a>
            <a href="javascript:void(0)" (click)="scrollToElement(modals)" class="list-group-item list-group-item-action">Modal Dialogs</a>
            <a href="javascript:void(0)" (click)="scrollToElement(widgets)" class="list-group-item list-group-item-action">Widgets</a>
            <a href="javascript:void(0)" (click)="scrollToElement(widgetSections)" class="list-group-item list-group-item-action">Widget Sections</a>
       </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="container">
            <div class="row m-3">
                <div class="col">
                    <h2>Form Controls</h2>

                    <h3 #formInput>Input</h3>
                    <p>An input control which can be decorated with various labels and icons.
                    </p>

                    <div class="border rounded p-3">
                        <form-input 
                            label="label text"
                            subLabel="subLabel text"
                            labelLeft="label on the left"
                            floatingLabel="A floating label"
                            errors="The control has errors"
                            iconClass="fa fa-pie-chart"
                            note="a note detailing the control">
                        </form-input>


                        <form-input label="A regular label"
                            note="a note to describe the input and [link](http://dataexpertsgroup.com)"></form-input>
                        <form-input label="input with sub label" subLabel="the sub label" placeholder="input something">
                        </form-input>
                        <form-input label="input with floating label" floatingLabel="uses a floating label">
                        </form-input>
                        <form-input label="Input with an icon" note="a note to describe the input"
                            placeholder="input with icon" iconClass="fa fa-pie-chart"></form-input>
                        <form-input label="Input with auto validate off (will not turn green)" [autoValidate]="false">
                        </form-input>
                        <form-input label="input with error" errors="this is invalid" placeholder="input something"
                            iconClass="fa fa-pie-chart"></form-input>
                        <form-input label="input disabled" [attr.disabled]="true" placeholder="input something"
                            iconClass="fa fa-pie-chart" value="can't change this text"></form-input>
                        <form-input type="number" label="a number only input" placeholder="input number"></form-input>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/cc56f38f5b609b127f72abeaeeb2cdca'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formInputTag>Input (tags)</h3>
                    <p>An input control which generates an array of tags.
                    </p>

                    <div class="border rounded p-3">
                        <form-tags label="input tag (type values and press enter)" placeholder="input tags"></form-tags>
                        <form-tags label="input tag with floating label" floatingLabel="with floating label">
                        </form-tags>
                        <form-tags label="pre-filled input tags" [value]="['item1', 'item2']" placeholder="input tags">
                        </form-tags>
                        <form-tags label="input tag with errors" [value]="['bad item']" errors="the error message"
                            placeholder="input tags"></form-tags>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/c83ae4455845048d202eb205edca1956'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formDropdown>Select (dropdown)</h3>
                    <p>A data driven dropdown controls which allow hierarchial datasets, key/name pairs, and text entry.
                    </p>

                    <div class="border rounded p-3">
                        <form-select label="Simple Select (also allows text entry)" [value]="'item1'"
                            [items]="['item1', 'item2','item3']" [enableTextEntry]="true"></form-select>
                        <form-select label="Floating label" floatingLabel="With Floating Label"
                            [items]="['item1', 'item2','item3']"></form-select>
                        <form-select label="Multi-select" [multiSelect]="true" [value]="['item1', 'item2']"
                            [items]="['item1', 'item2','item3']" [enableTextEntry]="true"></form-select>
                        <form-select label="Select with hierarchy" parentName='category' childItems='items' [items]="[
                        {category: 'Fruit', items: ['apple', 'orange', 'banana']}, 
                        {category: 'Vegetable', items: ['carrot', 'lettuce', 'celery']},
                        {category: 'Meat', items: ['beef', 'chicken', 'fish']}
                        ]">
                        </form-select>
                        <form-select [label]="'Select with key/value.  You selected key: ' + selectedKey"
                            itemName='name' itemKey='key' [(ngModel)]="selectedKey"
                            [ngModelOptions]="{standalone: true}"
                            [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]">
                        </form-select>

                        <form-select label="With custom items before and after" [items]="['item1', 'item2','item3']"
                            [enableTextEntry]="true" [enableFilter]="false">
                            <ng-template #startItems>
                                <li class="scrollable-item">
                                    <a class="dropdown-item bg-primary">This is a custom item</a>
                                </li>
                            </ng-template>
                            <ng-template #endItems>
                                <li class="scrollable-item">
                                    <a class="dropdown-item bg-primary">This is a custom item</a>
                                </li>
                            </ng-template>
                        </form-select>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/d237af5e9fa0b0418933e88f6f252b93'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formTagDropdown>Tags (dropdown)</h3>
                    <p>A data driven dropdown for colored tags
                    </p>

                    <div class="border rounded p-3">
                        <form-tags-dropdown label="Simple Tags Dropdown" [value]="['item1']"
                            [items]="['item1', 'item2','item3']" [enableAddAll]="true"></form-tags-dropdown>
                        <form-tags-dropdown label="With Floating Label" floatingLabel="Floating Label"
                            [items]="['item1', 'item2','item3']" [enableAddAll]="true"></form-tags-dropdown>
                        <form-tags-dropdown label="With Colors" [enableAddAll]="true" itemKey="column.key"
                            itemName="column.name" itemColor="column.color" [value]="[1]" [items]="[
                        {column: {key: 1, name: 'good', color: 'green'}},
                        {column: {key: 2, name: 'average', color: 'orange'}},
                        {column: {key: 3, name: 'poor', color: 'red'}}
                        ]">
                        </form-tags-dropdown>

                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/c1f998b991161275e6c0d983a24ef90d'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formTextarea>Text Areas</h3>
                    <p>Text areas allow users to enter markdown text, which is formatted and displayed.
                    </p>

                    <div class="border rounded p-3">
                        <form-textarea label="edit shown" [showCopy]="true" [isHidden]="false"
                            value="a **bold** item, [a link](http://www.microsoft.com)"></form-textarea>
                        <form-textarea label="copy a key" [showCopy]="true" [isHidden]="true" [showPreview]="false"
                            [attr.disabled]="true" [rows]="1" value="abdefghijklmnopqrtruvwxyz"></form-textarea>
                        <form-textarea label="edit hidden" [isHidden]="true" value="a **bold** item"></form-textarea>
                        <form-textarea label="with errors" [isHidden]="true" value="a **bold** item" errors="the error">
                        </form-textarea>
                        <form-textarea label="with note" [isHidden]="true" value="a **bold** item"
                            note="a note describing the textarea"></form-textarea>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/fef82c6c1d4da536684b5a7f820b3e62'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formCheckbox>Checkbox</h3>
                    <p>Checkboxes can be used for binary (yes/no) inputs.
                    </p>

                    <div class="border rounded p-3">
                        <form-checkbox label="Simple Checkbox" [value]="true"></form-checkbox>
                        <form-checkbox label="Simple Switch" [isSwitch]="true"></form-checkbox>
                        <form-checkbox label="No auto-validate" [autoValidate]="false"></form-checkbox>
                        <form-checkbox [border]="true">Check box border</form-checkbox>
                        <form-checkbox label="Checkbox with note" note="this describes the checkbox"></form-checkbox>
                        <form-checkbox label="Checkbox with error" errors="this checkbox has errors"></form-checkbox>
                        <form-checkbox label="Checkbox with custom values return values" [(ngModel)]="customCheckValue"
                            [ngModelOptions]="{standalone: true}" checkedValue="checked" unCheckedValue="unchecked">the
                            value is {{customCheckValue}}</form-checkbox>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/a26f0673c8d2d20ad5c70129e34bb5b5'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formDate>Date</h3>
                    <p>The date checkbox uses the browsers built in input date capability.
                    </p>

                    <div class="border rounded p-3">
                        <form-date label="Simple date entry" value="2010-01-01" placeholder="input date"></form-date>
                        <form-date label="With floating label" floatingLabel="floating label"></form-date>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/c70f706563db1d2468bf78cec426ae45'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formDaysOfWeek>Days of week</h3>
                    <p>Select the date of the week
                    </p>

                    <div class="border rounded p-3">
                        <form-daysofweek label="Select the days"></form-daysofweek>
                        <form-daysofweek label="Without the helper" [showHelper]="false"></form-daysofweek>
                        <form-daysofweek label="With note" note="this is the note"></form-daysofweek>
                        <form-daysofweek label="With an error" errors="this is the error"></form-daysofweek>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/9d1b079889128f1879ad61ae14954816'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formTime>Time</h3>
                    <p>Select a time based on hours:minutes:seconds
                    </p>

                    <div class="border rounded p-3">
                        <form-time [label]="'time with label (' + selectedTime +')'" [(ngModel)]="selectedTime"
                            [ngModelOptions]="{standalone: true}"></form-time>
                        <form-time class="mt-2" labelLeft="label left"></form-time>
                        <form-time label="time with note" note="this time description"></form-time>
                        <form-time label="time with error" errors="the time error"></form-time>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/bbe3342d983f0c7cbaf411ed89c4853f'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #formInputGroups>Input Groups</h3>
                    <p>Setting the [border]="false" and leftLabel property can be used to create input groups as
                        follows.
                    </p>

                    <div class="border rounded p-3">
                        <div class="input-group m-1">
                            <div class="form-control p-0 h-auto">
                                <form-input labelLeft="User Name" [border]="false"></form-input>
                            </div>
                            <div class="form-control p-0 h-auto">
                                <form-input type="password" labelLeft="Password" [border]="false"></form-input>
                            </div>
                            <div class="form-control h-auto ">
                                <form-checkbox label="Remember login"></form-checkbox>
                            </div>
                        </div>
                        <div class="input-group m-1">
                            <div class="form-control p-0 h-auto">
                                <form-input floatingLabel="User Name" [border]="false"></form-input>
                            </div>
                            <div class="form-control p-0 h-auto">
                                <form-input type="password" floatingLabel="Password" [border]="false"></form-input>
                            </div>
                            <div class="form-control h-auto">
                                <form-checkbox label="Remember login"></form-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/d68d8cab06079d0be5a8f4d336140132'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #progress>Progress Bars</h3>
                    <p>Display progress
                    </p>

                    <div class="border rounded p-3">
                        <div class="d-flex">
                            <d-button buttonClass="btn btn-sm btn-primary" class="mr-1" (click)="startProgress()">start</d-button>
                            <d-button buttonClass="btn btn-sm btn-primary" class="mr-1" (click)="stopProgress()">stop</d-button>
                            <d-button buttonClass="btn btn-sm btn-primary" class="mr-1" (click)="resetProgress()">reset</d-button>
                            <d-progressbar [showCancel]="true" (cancelled)="stopProgress()" [value]="percent" type="success">
                                animated {{percent}}
                            </d-progressbar>
                        </div>

                        <d-progressbar class="m-3" [showCancel]="true" value="0" type="success">
                            Not started
                        </d-progressbar>
                    
                        <d-progressbar class="m-3" [showCancel]="true" value="25" type="warning">
                            25% complete
                        </d-progressbar>
                    
                        <d-progressbar class="m-3" [showCancel]="true" value="50" type="info">
                            50% complete
                        </d-progressbar>
                    
                        <d-progressbar class="m-3"  [showCancel]="true" value="75" type="danger">
                            75% complete
                        </d-progressbar>
                    
                        <d-progressbar class="m-3" [showCancel]="true" value="100" type="primary">
                            100% complete
                        </d-progressbar>
            
                        <d-progressbar class="m-3" [showCancel]="false" (progressClick)="progress()" value="100" type="success">
                            100% complete no cancel
                        </d-progressbar>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/4fd884b5551f708f93c6f4261b6794a4'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #buttons>Buttons</h3>
                    <p>Various types of buttons
                    </p>

                    <div class="border rounded p-3">
                        <div class="row">
                            <div class="col-2">
                                Simple Buttons
                            </div>
                            <div class="col">
                                <d-button class="m-1">Default Button</d-button>
                                <d-button class="m-1" iconClass="fa fa-bar-chart" [autoCompact]="false">With Icon</d-button>
                                <d-button class="m-1" iconClass="fa fa-bar-chart" [autoCompact]="true">With Auto Compact</d-button>
                                <d-button class="m-1" buttonClass="btn btn-danger">Different Class</d-button>
                                <d-button class="m-1" badge="12" badgeClass="badge-danger">With Badge</d-button>
                                <d-button class="m-1" [busy]="true">With Busy</d-button>
                            </div>
                        </div>
                    
                        <div class="row mt-1">
                            <div class="col-2">
                                Built in buttons (requires Awesome Fonts 4.8)
                            </div>
                            <div class="col">
                               
                                <d-button-apply class="m-1" ></d-button-apply>
                                <d-button-cancel class="m-1"></d-button-cancel>
                                <d-button-close class="m-1"></d-button-close>
                                <d-button-delete class="m-1"></d-button-delete>
                                <d-button-download class="m-1"></d-button-download>
                                <d-button-edit class="m-1"></d-button-edit>
                                <d-button-export class="m-1"></d-button-export>
                                <d-button-history class="m-1"></d-button-history>
                                <d-button-new class="m-1"></d-button-new>
                                <d-button-open class="m-1"></d-button-open>
                                <d-button-preview class="m-1"></d-button-preview>
                                <d-button-private class="m-1"></d-button-private>
                                <d-button-refresh class="m-1"></d-button-refresh>
                                <d-button-save-local class="m-1"></d-button-save-local>
                                <d-button-validate class="m-1"></d-button-validate>
                                <d-button-view class="m-1"></d-button-view>
                                <d-button-chart class="m-1"></d-button-chart>
                                <d-button-link class="m-1">hyperlink format</d-button-link>
                            </div>
                        </div>
                    
                        <div class="row mt-1">
                            <div class="col-2">
                                Dropdown Buttons
                            </div>
                            <div class="col">
                                <d-button-dropdown class="m-1" text="drop down" [autoCompact]="false">
                                    <a class="dropdown-item">item 1</a>
                                    <a class="dropdown-item active">active item</a>
                                    <a class="dropdown-item">item 3</a>
                                </d-button-dropdown>
                    
                                <d-button-splitdropdown class="m-1" iconClass="fa fa-bar-chart" text="split" [autoCompact]="false">
                                    <a class="dropdown-item">item 1</a>
                                    <a class="dropdown-item">item 2</a>
                                    <a class="dropdown-item">item 3</a>
                                </d-button-splitdropdown>
                    
                                <d-button-more class="m-1">
                                    <a class="dropdown-item">item 1</a>
                                    <a class="dropdown-item">item 2</a>
                                    <a class="dropdown-item">item 3</a>
                                </d-button-more>
                    
                                <d-button-dropdown class="m-1" text="notification" [pullRight]="true">
                                    <div class="list-group" style="width: 400px;">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small>3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                                risus varius blandit.</p>
                                            <small>Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                                risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">List group item heading</h5>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                                risus varius blandit.</p>
                                            <small class="text-muted">Donec id elit non mi porta.</small>
                                        </a>
                                    </div>
                                </d-button-dropdown>
                    
                                <d-button-collapsible class="m-1" text="collapsible" [isExpanded]="false">
                                    this button opens to show some content
                                </d-button-collapsible>
                            </div>
                        </div>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/4e0b1f01e4bfe8f9b6ff72bd93ca5195'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #toasts>Toasts</h3>
                    <p>Display a toast.
                    </p>

                    <div class="border rounded p-3">
                        <!-- this is hidden place this anywhere on page -->
                        <d-toast #toast></d-toast>
                        
                        <d-button class="mr-1" buttonClass="btn-success" text="Show a success message" (click)="toast.addMessage('success', 'Success', 'You just won $1m!', 7000)"></d-button> 
                        <d-button class="mr-1" buttonClass="btn-info" text="Show an info message" (click)="toast.addMessage('info', 'Some Info', 'Today is just another day.', 7000)"></d-button> 
                        <d-button class="mr-1" buttonClass="btn-danger" text="Show a danger message" (click)="toast.addMessage('error', 'Watch Out!', 'Danger Will Robinson!', 7000)"></d-button> 
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/ab975c68066f2d783c6334b254a25d48'"></ngx-gist>
                    </div>

                    <br>
                    <h3 #modals>Modals</h3>
                    <p>Display a modal dialog.
                    </p>

                    <div class="border rounded p-3" >
                        <!-- this is hidden place this anywhere on page -->
                        <d-modal #modal></d-modal>

                        <div class="row p-1">
                            <div class="col">
                                <d-button [fill]="true" (click)="modalInformation()" text="Information"></d-button>
                            </div>
                            <div class="col">
                                Result: {{modalInformationValue}}
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col">
                                <d-button [fill]="true" (click)="modalConfirm()" text="Confirm"></d-button>
                            </div>
                            <div class="col">
                                Result: {{modalConfirmValue}}
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col">
                                <d-button [fill]="true" (click)="modalPrompt()" text="Prompt"></d-button>
                            </div>
                            <div class="col">
                                Result: {{modalPromptValue}}
                            </div>
                        </div>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/cf6423c4c4890ffa5f00771d2f02a87f'"></ngx-gist>
                    </div>

                    <br>

                    <h3 #widgets>Widgets</h3>
                    <p>Display a collapsible widget
                    </p>

                    <div class="border rounded p-3" >
                        <d-widget title="Login Widget" [padding]="true" [showCloseButton]="true" iconClass="fa fa-user">
                            <form>
                                <form-input label="User Name"></form-input>
                                <form-input label="Password" type="password"></form-input>
                                <br>
                                <d-button text="Login"></d-button>
                            </form>
                        </d-widget>
                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/b5eb94a16d106e06a5d1ad4371bf4e4a'"></ngx-gist>
                    </div>

                    <h3 #widgetSections>Widget with Sections</h3>
                    <p>Collapsible widget sections
                    </p>

                    <div class="border rounded p-3" >
                        <d-widget title="Show the data" [showFilter]="true" [showCloseButton]="true" iconClass="fa fa-lg fa-fw fa-database" [showExpandButton]="true">
                            <d-widget-section title='Chart' [showExpandButton]="true" iconClass="fa fa-table">
                                this section might contain a chart
                            </d-widget-section>
                    
                            <d-widget-section title='Data' [showExpandButton]="true" [isExpanded]="false" iconClass="fa fa-bar-chart" sectionClass="text-white bg-success" subTitle="Here is the detailed data...">
                                this section might contain data
                            </d-widget-section>
                    
                            <d-widget-section title='Comments' [showExpandButton]="true"  [isExpanded]="false" iconClass="fa fa-comment" sectionClass="text-white bg-danger">
                                this section might contain comments
                            </d-widget-section>
                    
                        </d-widget>

                    </div>

                    <div class="border rounded p-3">
                        <ngx-gist [gistId]="'gary-holland/a1f4717fdd027543ed1120b7310507a6'"></ngx-gist>
                    </div>
                    <br>

                </div>

            </div>


        </div>
    </div>
</div>