<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="https://dataexpertsgroup.com" class="navbar-brand d-flex align-items-center">
                <img src="assets/dex_logo_wide_raw.png" height="40">
                <strong>Angular 8+ Components</strong>
            </a>
            <d-button-dropdown text="Testing" iconClass="fa fa-chain-broken" [pullRight]="true">
                <dexih-dropdown-item iconClass="fa fa-table" [routerLink]="['test', 'table']">Table Tests
                </dexih-dropdown-item>
                <dexih-dropdown-item [routerLink]="['test', 'components']">Component Tests</dexih-dropdown-item>
            </d-button-dropdown>
        </div>
    </div>

</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Angular 8+ Bootstrap Components</h1>
            <p class="lead text-muted">Browse the demo's below and feel free to use our Angular 8+ components</p>
            <div class="row">
                <div class="col-12 col-md-6 p-3">
                    <div class="border rounded p-3">
                        <p>
                            Data Driven Tables
                        </p>
                        <p>
                            <d-button class="my-2" [routerLink]="['demo','table']">Demo</d-button>
                            <d-button class="my-2"
                                href="https://github.com/DataExperts/Dexih.Libraries/tree/master/projects/table">
                                Documentation
                            </d-button>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="border rounded p-3">
                        <p>
                            Bootstrap Widgets and Controls
                        </p>
                        <p>
                            <d-button class="my-2" buttonClass="btn btn-secondary"
                                [routerLink]="['demo','components']">Demo
                            </d-button>
                            <d-button class="my-2" buttonClass="btn btn-secondary"
                                href="https://github.com/DataExperts/Dexih.Libraries/tree/master/projects/components">
                                Documentation
                            </d-button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<router-outlet></router-outlet>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Data Experts Group</p>
        <p>Need some data management tools? <a href="https://dataexpertsgroup.com/">Visit our website to get
                started</a>.</p>
    </div>
</footer>