<d-toast #toasts></d-toast>
<d-modal #modal></d-modal>

<h3>Widget Vertically</h3>

<div class="p-3 b-3">
    <d-widget-vertical>
        <d-widget title="widget" [padding]="true">
            The widget content.

            <div class="form-label-group" style="position: relative; margin-bottom: 1rem;">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

            <ng-template #footer>
                footer template
            </ng-template>
        </d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
    </d-widget-vertical>
</div>

<h3>Widget Deck</h3>

<div class="p-3 b-3">
    <d-widget-deck >
        <div dexihWidget title="widget" [padding]="true" height="300px">
                The widget content.
    
            <ng-template #footer>
                footer template
            </ng-template>
        </div>        
        <div dexihWidget title="widget" [padding]="true" height="300px">
            The widget content.
        </div>
        <div dexihWidget #widget title="widget" [padding]="true" [showExpandButton]="true" height="300px" [scrollable]="true">
            <!-- <p>width {{widget.getBodySize().width}}, height: {{widget.getBodySize().height}}</p> -->
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <p>Lots of  content.</p>
            <ng-template #footer>
                footer template
            </ng-template>
        </div>
        <div dexihWidget title="widget" [padding]="true" height="300px" [scrollable]="true">
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>            
            <p>this should scroll</p>    
            
            <ng-template #footer>
                    footer template
                </ng-template>
        </div>
        <div dexihWidget title="widget" height="300px"></div>
        <div dexihWidget title="widget" height="300px"></div>
    </d-widget-deck>
</div>
    
<h3>Widget Columns</h3>

<div class="p-3 b-3">
    <d-widget-columns>
        <d-widget title="widget" [padding]="true">
            The widget content.

            <ng-template #footer>
                footer template
            </ng-template>
        </d-widget>        
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
        <d-widget title="widget"></d-widget>
    </d-widget-columns>
</div>

<h3>Widget Group</h3>

<div class="p-3 b-3">
    <d-widget-group >
        <d-widget title="widget" [padding]="true"  height="300px">
            The widget content.

            <ng-template #footer>
                footer template
            </ng-template>
        </d-widget>        
        <d-widget title="widget" height="300px"></d-widget>
        <d-widget title="widget" height="300px"></d-widget>
        <d-widget title="widget" height="300px"></d-widget>
        <d-widget title="widget" height="300px" [scrollable]="true">
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>            
                <p>this should scroll</p>   
        </d-widget>
        <d-widget title="will truncate. should not see this text"  height="300px" style="width: 200px">
            <d-widget-section title="will truncate. should not see this text"></d-widget-section>
        </d-widget>
    </d-widget-group>
</div>




<d-widget-vertical>
    <d-widget title="Show all elements" [padding]="false" [showFilter]="true" [showCloseButton]="true" iconClass="fa fa-lg fa-fw fa-database" [showExpandButton]="true">

        <ng-template #header>
            header template
        </ng-template>

        <ng-template #subTitle>
            subtitle template
        </ng-template>

        <ng-template #tools>
            tools template
        </ng-template>

        <ng-template #subHeader>
            sub-header template
        </ng-template>

        <ng-template #footer>
            footer template
        </ng-template>

        <d-widget-section title='section 1' [padding]="false">
            no padding section
        </d-widget-section>

        <d-widget-section title='section 2' [showExpandButton]="true" iconClass="fa fa-bar-chart" sectionClass="text-white bg-secondary" subTitle="the section subtitle">
            section 2 content
        </d-widget-section>

        <d-widget-section title='section 3' [showExpandButton]="true" iconClass="fa fa-bar-chart" sectionClass="text-white bg-danger">
            section 3 content

            <ng-template #subTitle>
                section subtitle template
            </ng-template>
        </d-widget-section>

    </d-widget>

    <d-widget title="Show all with different classes" 
        headerClass="text-white bg-success" 
        subTitleClass="text-white bg-primary"
        subHeaderClass="text-white bg-warning"
        bodyClass="text-white bg-secondary"
        footerClass="text-white bg-danger"
        [padding]="true" [showFilter]="true" [showCloseButton]="true" [showExpandButton]="true" iconClass="fa fa-lg fa-fw fa-database">

            <ng-template #header>
                header template
            </ng-template>
    
            <ng-template #subTitle>
                subtitle template
            </ng-template>
    
            <ng-template #tools>
                tools template
            </ng-template>
    
            <ng-template #subHeader>
                sub-header template
            </ng-template>
    
            <ng-template #footer>
                footer template
            </ng-template>
    
            the body of the widget
    
        </d-widget>

    <d-widget title="just a footer" bodyClass="text-white bg-secondary">

        <ng-template #footer>
            footer template
        </ng-template>

        something in the body
    </d-widget>

    <d-widget title="waiting" loadingMessage="Loading the widget..." [showIf]="false">

    </d-widget>

    <d-widget title="body with no padding" [padding]="false" bodyClass="text-white bg-secondary">
this should have no padding.
    </d-widget>
    
</d-widget-vertical>

<d-widget-columns class="p-3">
        <d-widget title="Toasts" [padding]="true" >
            <d-button (click)="addToasts()" text="Add Toasts"></d-button>
            <d-button (click)="addToast('success')" text="Add Success"></d-button>
            <d-button (click)="addToast('error')" text="Add Error"></d-button>
        </d-widget>

        <d-widget title="Modals" [padding]="true" >
            <div class="row">
                <d-button (click)="modalInformation()" text="Information"></d-button>
                Result: {{modalInformationValue}}
            </div>
            <div class="row">
                <d-button (click)="modalConfirm()" text="Confirm"></d-button>
                Result: {{modalConfirmValue}}
            </div>
            <div class="row">
                <d-button (click)="modalConfirmTwice()" text="Confirm twice"></d-button>
                Result: {{modalConfirmValue}}
            </div>

            <div class="row">
                <d-button (click)="modalPrompt()" text="Prompt"></d-button>
                Result: {{modalPromptValue}}
            </div>
            </d-widget>

        <d-widget title="Progress" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
            <d-button (click)="startAnimateProgress()">start</d-button>
            <d-button (click)="stopAnimateProgress()">stop</d-button>
            <d-progressbar width="100px" class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                [value]="percent" type="success">
                animated {{percent}}
            </d-progressbar>

            <d-progressbar class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="0" type="success">
                With a very long text that should be truncated with an ellipsis. With a very long text that should be truncated with an ellipsis.
            </d-progressbar>

            <d-progressbar class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="0" type="success">
                Not started
            </d-progressbar>
        
            <d-progressbar class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="25" type="warning">
                25% complete
            </d-progressbar>
        
            <d-progressbar class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="50" type="info">
                50% complete
            </d-progressbar>
        
            <d-progressbar class="m-3"  [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="75" type="danger">
                75% complete
            </d-progressbar>
        
            <d-progressbar class="m-3" [showCancel]="true" (cancelled)="cancelled()" (progressClick)="progress()"
                value="100" type="primary">
                100% complete
            </d-progressbar>

            <d-progressbar class="m-3" [showCancel]="false" (progressClick)="progress()"
                value="100" type="success">
                100% complete no cancel
            </d-progressbar>

        </d-widget>

        <d-widget title="Inputs" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">

                the value is {{inputString}}
                <form-input placeholder="No labels" [(ngModel)]="inputString" [ngModelOptions]="{standalone: true}"></form-input>
                <form-input autocapitalize="on" label="auto capitalize"></form-input>
                <form-input floatingLabel="this is a floating label"></form-input>
                <form-input labelLeft="left label also" floatingLabel="this is a floating label"></form-input>
                <form-input label="input label" labelLeft="label left" note="a note to describe the input" placeholder="input something"></form-input>
                <form-input label="input label" note="a note to describe the input" placeholder="input with icon" iconClass="fa fa-pie-chart"></form-input>
                <form-input label="input with error" note="a note to describe the input and [link](http://dataexpertsgroup.com)" errors="this is invalid" placeholder="input something"
                    iconClass="fa fa-pie-chart"></form-input>
                <form-input label="input with sub label" subLabel="the label" placeholder="input something" iconClass="fa fa-pie-chart"></form-input>
                <form-input label="input disabled" [disabled]="true" placeholder="input something" iconClass="fa fa-pie-chart" value="can't change this text"></form-input>

                the number is {{inputNumber}}
                <form-input type="number" label="a number" placeholder="input number" [(ngModel)]="inputNumber" [ngModelOptions]="{standalone: true}"></form-input>

                <div class="row">
                    <div class="col">
                        <form-input label="side by side" placeholder="input something" iconClass="fa fa-pie-chart"></form-input>
                    </div>
                    <div class="col">
                        <form-input label="side by side" placeholder="input something" iconClass="fa fa-pie-chart"></form-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <form-input labelLeft="side by side" placeholder="input something" iconClass="fa fa-pie-chart"></form-input>
                    </div>
                    <div class="col">
                        <form-input labelLeft="side by side" placeholder="input something" iconClass="fa fa-pie-chart"></form-input>
                    </div>
                </div>
        </d-widget>

        <d-widget title="Text Areas" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-textarea label="edit shown" [showCopy]="true" [isHidden]="false" value="a **bold** item, [a link](http://www.microsoft.com)"></form-textarea>
                <form-textarea label="copy a key" [showCopy]="true" [isHidden]="true" [showPreview]="false" [disabled]="true" [rows]="1" value="abdefghijklmnopqrtruvwxyz"></form-textarea>
                <form-textarea label="edit hidden" [isHidden]="true" value="a **bold** item"></form-textarea>
                <form-textarea label="with errors" [isHidden]="true" value="a **bold** item" errors="the error"></form-textarea>
                <form-textarea label="with note" [isHidden]="true" value="a **bold** item" note="a note describing the textarea"></form-textarea>
        </d-widget>

        <d-widget title="Dropdowns" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <div>enableTextEntry=true</div>
                <div>selected item: {{selectedItem}}</div>
                <div>text value: {{textValue}}</div>
                <form-select name="formSelect" label="Simple Select" [items]="['item1', 'item2','item3']" (ngModelChange)="selectChange($event)" [enableTextEntry]="true" [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}" [(textValue)]="textValue" (onShown)="opened()"></form-select>

                <form-select name="formSelect" label="Simple Select" [items]="['item1', 'item2','item3']" (ngModelChange)="selectChange($event)" [enableTextEntry]="true" floatingLabel="With Foating Label"></form-select>

                <div>selected items: {{multiSelectedItems}}</div>
                <form-select name="formSelect" label="Multi Select" [multiSelect]="multiSelect" [items]="['item1', 'item2','item3']" [textEntryItems]="['value1', 'value2', 'value3']" [enableTextEntry]="true" [(ngModel)]="multiSelectedItems" [ngModelOptions]="{standalone: true}" [(textValue)]="textValue"></form-select>
                <form-checkbox [(ngModel)]="multiSelect"  [ngModelOptions]="{standalone: true}" (ngModelChange)="selectChange($event)" text="Enable multi"></form-checkbox>

                <div>selected items: <span *ngFor="let item of multiSelectedItems2">({{item.key}}, {{item.name}}, {{item.isKey}}),</span></div>
                <form-select name="formSelect" label="Multi Select (with key/value)" [multiSelect]="true" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" [textEntryItems]="['value1', 'value2', 'value3']"
                    itemName='name' itemKey='key' [enableTextEntry]="true" [(ngModel)]="multiSelectedItems2" [ngModelOptions]="{standalone: true}"(ngModelChange)="selectChange($event)" ></form-select>

                <form-select label="Multiselect given regular value" [items]="['item1', 'item2','item3']" [enableTextEntry]="true" [(ngModel)]="multiSelect2" [multiSelect]="true" [ngModelOptions]="{standalone: true}" [enableFilter]="false"></form-select>

                <form-select label="Selected item not in list" [items]="['item1', 'item2','item3']" [enableTextEntry]="true" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" [enableFilter]="false"></form-select>

                <form-select label="No Filter" [items]="['item1', 'item2','item3']" [enableFilter]="false"></form-select>

                <form-select labelLeft="Label Left" [items]="['item1', 'item2','item3']" [enableFilter]="false"></form-select>
                
                <form-select label="Default Value" [allowNullSelect]="true" selectNullMessage="Use null value" [items]="['item1', 'item2','item3']" [enableTextEntry]="true"></form-select>
                
                <form-select label="No Items" [items]="[]" [enableTextEntry]="true" iconClass="fa fa-pie-chart"></form-select>

                <form-select label="Text entry only" [enableTextEntry]="true" [textEntryItems]="['value1', 'value2', 'value3']" iconClass="fa fa-pie-chart"></form-select>

                <form-select label="Items added dynamically" [items]="dynamicItems" [enableTextEntry]="true" iconClass="fa fa-pie-chart"><d-button-refresh (click)="AddItems()"></d-button-refresh></form-select>

                <form-select label="No Items no text entry" [enableTextEntry]="false" [items]="[]"></form-select>

                <form-select label="Lots of items" [enableTextEntry]="false" [items]="longItems"></form-select>

                <form-select label="Some manual items before and after" [items]="['item1', 'item2','item3']" [enableTextEntry]="true" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" [enableFilter]="false">
                    <ng-template #startItems>
                        <li class="scrollable-item" >
                            <a class="dropdown-item">Item before</a>
                        </li>
                    </ng-template>
                    <ng-template #endItems>
                        <li class="scrollable-item" >
                            <a class="dropdown-item">Item after</a>
                        </li>
                               
                    </ng-template>
                </form-select>


                <form-select label="Empty list with items before and after" [items]="[]" [enableTextEntry]="true" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" [enableFilter]="false">
                    <ng-template #startItems>
                        <li class="scrollable-item" >
                            <a class="dropdown-item">Item before</a>
                        </li>
                    </ng-template>
                    <ng-template #endItems>
                        <li class="scrollable-item" >
                            <a class="dropdown-item">Item after</a>
                        </li>
                               
                    </ng-template>
                </form-select>

                <form-select label="With refresh" [items]="refreshItems"  [textEntryItems]="['value1', 'value2', 'value3']" [showRefresh]="true" textEntryItemsTitle="Text items" [isRefreshing]="isRefreshing" [enableTextEntryMatch]="false"  (onRefresh)="onRefresh()" [enableFilter]="false" (textValueChange)="textValueChange($event)">
                </form-select>

                <div>selected item key: {{selectedItem0}}</div>
                <form-select label="Selected Item 0" [items]="[0, 1, 2]" [(ngModel)]="selectedItem0" [ngModelOptions]="{standalone: true}"  ></form-select>
                
                <div>enableTextEntry=false</div>
                <div>selected item key: {{selectedItem2}}</div>
                <div>text value: {{textValue2}}</div>
                <form-select label="Select with key/value" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]"
                    itemName='name' itemKey='key' [(ngModel)]="selectedItem2" [(textValue)]="textValue2" [ngModelOptions]="{standalone: true}"></form-select>

                <div>enableTextEntry=true, enableTextEntryMatch=false</div>
                <div>selected item key: {{selectedItem3}}</div>
                <div>text value: {{textValue3}}</div>
                <form-select label="Select with key/value & text entry" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]"
                    itemName='name' itemKey='key' [(ngModel)]="selectedItem3" [(textValue)]="textValue3" [ngModelOptions]="{standalone: true}" [enableTextEntry]="true" [enableTextEntryMatch]="false"></form-select>
    
                <div>enableTextEntry=true, enableTextEntryMatch=false</div>
                <div>selected item key: {{selectedItem4}}</div>
                <div>text value: {{textValue4}}</div>
                <form-select label="Select with parent/child" [items]="
                    [
                    {category: 'category1', items: ['cat1 item1', 'cat1 item2', 'cat1 item3']}, 
                    {category: 'category2', items: ['cat2 item1', 'cat2 item2', 'cat2 item3']},
                    {category: 'category3', items: ['cat3 item1', 'cat3 item2', 'cat3 item3']}
                    ]" parentName='category' childItems='items' 
                    [(ngModel)]="selectedItem4" [(textValue)]="textValue4" [enableTextEntry]="true" [enableTextEntryMatch]="false" [ngModelOptions]="{standalone: true}"
                    >
                </form-select>


                <div>enableTextEntry=true, enableTextEntryMatch=false</div>
                <div>selected item: {{selectedItem5}}</div>
                <div>text value: {{textValue5}}</div>
                <form-select label="Select with grand parent/child" [items]="
                [{region: 'region1', categories: [
                {category: 'category1', items: ['cat1 item1', 'cat1 item2', 'cat1 item3']}, 
                {category: 'category2', items: ['cat2 item1', 'cat2 item2', 'cat2 item3']},
                {category: 'category3', items: ['cat3 item1', 'cat3 item2', 'cat3 item3']}
                ]},
                {region: 'region2', categories: [
                {category: 'category1', items: ['cat1 item1', 'cat1 item2', 'cat1 item3']}, 
                {category: 'category2', items: ['cat2 item1', 'cat2 item2', 'cat2 item3']},
                {category: 'category3', items: ['cat3 item1', 'cat3 item2', 'cat3 item3']}
                ]}]" grandParentName='region' parentName='category' grandChildItems='items' childItems='categories'
                [(ngModel)]="selectedItem5" [(textValue)]="textValue5" [enableTextEntry]="true" [ngModelOptions]="{standalone: true}"></form-select>

                <div>enableTextEntry=true</div>
                <div>selected item key: {{selectedItem6}}</div>
                <div>text value: {{textValue6}}</div>
                <form-select label="Text Items" 
                [items]="['item1', 'item2','item3']" 
                [(ngModel)]="selectedItem6"  [ngModelOptions]="{standalone: true}"
                [(textValue)]="textValue6" 
                [textEntryItems]="['value1', 'value2', 'value3']" [enableTextEntry]="true"  [enableTextEntryMatch]="false" [enableFilter]="false"></form-select>


                <div>enableTextEntry=true</div>
                <div>selected item key: {{selectedItem7}}</div>
                <div>text value: {{textValue7}}</div>
                <form-select label="Select with grand parent/child key" 
                [items]="
                [{region: 'region1', categories: [
                {category: 'category1', items: [{key: 2, name: 'cat1 item1'}, {key: 3, name: 'cat1 item2'}, {key: 4, name: 'cat1 item3'}]}, 
                {category: 'category2', items: [{key: 1, name: 'cat2 item1'}, {key: 5, name: 'cat2 item2'}, {key: 6, name: 'cat2 item3'}]},
                {category: 'category3', items: [{key: 7, name: 'cat3 item1'}, {key: 8, name: 'cat3 item2'}, {key: 9, name: 'cat3 item3'}]}
                ]},
                {region: 'region2', categories: [
                {category: 'category1', items: [{key: 10, name: 'cat1 item1'}, {key: 11, name: 'cat1 item2'}, {key: 12, name:  'cat1 item3'}]}, 
                {category: 'category2', items: [{key: 13, name: 'cat2 item1'}, {key: 14, name: 'cat2 item2'}, {key: 15, name: 'cat2 item3'}]},
                {category: 'category3', items: [{key: 16, name: 'cat3 item1'}, {key: 17, name: 'cat3 item2'}, {key: 18, name: 'cat3 item3'}]}
                ]}]" 
                [(ngModel)]="selectedItem7"  [ngModelOptions]="{standalone: true}"
                grandParentName='region' parentName='category' grandChildItems='items' childItems='categories' itemName="name" itemKey="key"
                [enableTextEntry]="true" [enableFilter]="false"></form-select>

                <div>enableTextEntry=true, enableKeySelect=false</div>
                <div>selected item name: {{selectedItem8.name}}</div>
                <form-select label="Select with grand parent/child key" 
                [items]="
                [{region: 'region1', categories: [
                {category: 'category1', items: [{key: 2, name: 'cat1 item1'}, {key: 3, name: 'cat1 item2'}, {key: 4, name: 'cat1 item3'}]}, 
                {category: 'category2', items: [{key: 1, name: 'cat2 item1'}, {key: 5, name: 'cat2 item2'}, {key: 6, name: 'cat2 item3'}]},
                {category: 'category3', items: [{key: 7, name: 'cat3 item1'}, {key: 8, name: 'cat3 item2'}, {key: 9, name: 'cat3 item3'}]}
                ]},
                {region: 'region2', categories: [
                {category: 'category1', items: [{key: 10, name: 'cat1 item1'}, {key: 11, name: 'cat1 item2'}, {key: 12, name:  'cat1 item3'}]}, 
                {category: 'category2', items: [{key: 13, name: 'cat2 item1'}, {key: 14, name: 'cat2 item2'}, {key: 15, name: 'cat2 item3'}]},
                {category: 'category3', items: [{key: 16, name: 'cat3 item1'}, {key: 17, name: 'cat3 item2'}, {key: 18, name: 'cat3 item3'}]}
                ]}]" 
                [(ngModel)]="selectedItem8"  [ngModelOptions]="{standalone: true}"
                grandParentName='region' parentName='category' grandChildItems='items' childItems='categories' itemName="name" itemKey="key"
                [enableTextEntry]="true" [enableFilter]="false" [enableKeySelect]="false"></form-select>


            <form-select label="Select with note" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" itemName='name'
                itemKey='key' note='this describes the selection'></form-select>
            <form-select label="Select with error" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" itemName='name'
                itemKey='key' errors='this has errors'></form-select>
        </d-widget>


        <d-widget title="Checkboxes" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-checkbox></form-checkbox>
                <form-checkbox label="Simple Checkbox"></form-checkbox>
                <form-checkbox>Check box with text content</form-checkbox>
                <form-checkbox [border]="true">Check box with text content and border</form-checkbox>
                <form-checkbox label="Border" [border]="true"></form-checkbox>
                <form-checkbox label="Checkbox with note" note="this describes the checkbox"></form-checkbox>
                <form-checkbox label="Checkbox with error" errors="this checkbox has errors"></form-checkbox>
                <form-checkbox label="Checkbox with error" [border]="true" errors="this checkbox has errors"></form-checkbox>
                <form-checkbox label="Checkbox with custom values" [border]="true" [(ngModel)]="customCheckValue"  [ngModelOptions]="{standalone: true}" checkedValue="checked" unCheckedValue="unchecked"></form-checkbox> value is {{customCheckValue}}
        </d-widget>

        <d-widget title="Date" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-date placeholder="input date"></form-date>
                <form-date labelLeft="label left"></form-date>
                <form-date floatingLabel="floating label"></form-date>
                <form-date label="input label" note="a note to describe the date" placeholder="input date"></form-date>
        </d-widget>

        <d-widget title="Day of week" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-daysofweek></form-daysofweek>
                <form-daysofweek label="Select the days"></form-daysofweek>
                <form-daysofweek labelLeft="label left"></form-daysofweek>
                <form-daysofweek label="With note" note="this is the note"></form-daysofweek>
                <form-daysofweek label="Has errors" errors="this is the error"></form-daysofweek>
        </d-widget>

        <d-widget title="Tags" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-tags placeholder="input tags"></form-tags>
                <form-tags floatingLabel="with floating label"></form-tags>
                <form-tags label="input tags" [value]="['item1', 'item2']" placeholder="input tags"></form-tags>
                <form-tags label="lots of tags" [value]="['item1', 'item2', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3']" placeholder="input tags"></form-tags>
                <form-tags labelLeft="label left" [value]="['item1', 'item2']" placeholder="input tags"></form-tags>
                <form-tags label="input tags" [value]="null" note="a note to describe the tags" placeholder="input tags"></form-tags>
                <form-tags label="input errors" errors="the error message" placeholder="input tags"></form-tags>
        </d-widget>

        <d-widget title="Tags DropDown" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <form-tags-dropdown placeholder="input tags" [items]="['item1', 'item2','item3']" [enableAddAll]="true" (onShown)="opened()"></form-tags-dropdown>
                <form-tags-dropdown floatingLabel="with floating label" [items]="['item1', 'item2','item3']" [enableAddAll]="true" (onShown)="opened()"></form-tags-dropdown>
                <form-tags-dropdown labelLeft="label left" placeholder="input tags" [items]="['item1', 'item2','item3']" ></form-tags-dropdown>
                <form-tags-dropdown label="input tags" note="a note to describe the tags" placeholder="input tags" [items]="['item1', 'item2','item3']"></form-tags-dropdown>
                <form-tags-dropdown label="input tags (2 selected)" note="a note to describe the tags" placeholder="input tags" [items]="['item1', 'item2','item3']" [value]="['item1', 'item2']" [enableAddAll]="true"></form-tags-dropdown>

                <form-tags-dropdown label="input tags: selected={{selectedTags}}" note="a note to describe the tags" placeholder="input tags" 
                [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" itemKey="key" itemName="name"
                [(ngModel)]="selectedTags" [ngModelOptions]="{standalone: true}" [enableAddAll]="true"  ></form-tags-dropdown>

                <form-tags-dropdown label="input tags: selected count={{complexTagsSelected.length}}" note="a note to describe the tags" placeholder="input tags" 
                [items]="complexTags" itemKey="column.key" itemName="column.name" itemColor="column.color"
                [(ngModel)]="complexTagsSelected" [ngModelOptions]="{standalone: true}" [enableAddAll]="true" [returnKeys]="false"></form-tags-dropdown>

                <form-tags-dropdown label="With refresh" [items]="refreshItems" [showRefresh]="true" [isRefreshing]="isRefreshing"  (onRefresh)="onRefresh()">
                </form-tags-dropdown>
        </d-widget>

        <d-widget title="Time" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                Value: {{timeString}}
                <div style="width: 120px">
                <form-time [(ngModel)]="timeString" [ngModelOptions]="{standalone: true}" ></form-time>
            </div>
                <form-time  label="time with label"></form-time>
                <form-time labelLeft="label left"></form-time>
                <form-time label="time with note" note="this time description"></form-time>
                <form-time label="time with error" errors="the time error"></form-time>
        </d-widget>

        <d-widget title="Buttons" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <d-button>Default</d-button>
                <d-button iconClass="fa fa-bar-chart">With Icon</d-button>
                <d-button iconClass="fa fa-bar-chart" tooltip='no text'></d-button>
                <d-button iconClass="fa fa-bar-chart" badge="12">With Badge</d-button>
                <d-button iconClass="fa fa-bar-chart" badge="12" badgeClass="badge-danger">Danger Badge
                </d-button>
                <d-button iconClass="fa fa-bar-chart" title="the tool tip">With Tooltip</d-button>
                <d-button iconClass="fa fa-bar-chart" [compact]="true">Compact</d-button>
                <d-button iconClass="fa fa-bar-chart" [busy]="true">Busy</d-button>
                <d-button-apply></d-button-apply>
                <d-button-cancel></d-button-cancel>
                <d-button-close></d-button-close>
                <d-button-delete></d-button-delete>
                <d-button-download></d-button-download>
                <d-button-edit></d-button-edit>
                <d-button-export></d-button-export>
                <d-button-history></d-button-history>
                <d-button-new></d-button-new>
                <d-button-open></d-button-open>
                <d-button-preview></d-button-preview>
                <d-button-private></d-button-private>
                <d-button-refresh></d-button-refresh>
                <d-button-save-local></d-button-save-local>
                <d-button-validate></d-button-validate>
                <d-button-view></d-button-view>
                <d-button-chart></d-button-chart>
                <d-button-link>this is a link button</d-button-link>

                <d-button-dropdown text="drop down" [autoCompact]="false">
                    <a class="dropdown-item" (click)="this. show('hi there')">item 1</a>
                    <a class="dropdown-item active">active item</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-dropdown text="drop compact" iconClass="fa fa-bar-chart">
                    <a class="dropdown-item" (click)="this. show('hi there')">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-dropdown text="drop down manual" buttonClass="btn btn-outline-secondary"
                    #manualDropDown [autoClose]="false" (onOpenChange)="openChange()">
                    <a class="dropdown-item" (click)="manualDropDown.hideDropdown()">closes dropdown</a>
                    <a class="dropdown-item">doesn't close dropdown</a>
                </d-button-dropdown>

                <d-button (click)="manualDropDown.hideDropdown()">Hide Dropdown</d-button>
                <d-button (click)="manualDropDown.showDropdown()">Show Dropdown</d-button>

                <d-button-dropdown text="drop down class" buttonClass="btn btn-outline-secondary">
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-dropdown text="drop down no carrot" iconClass="fa fa-bar-chart" badge="1"
                    [pullRight]="true" [hideCarrot]="true">
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-dropdown text="drop down badge" badge="12" badgeClass="badge-info"
                    [hideCarrot]="true">
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-dropdown text="align right" [pullRight]="true">
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-dropdown>

                <d-button-splitdropdown iconClass="fa fa-bar-chart" text="split">
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-splitdropdown>

                <d-button-more>
                    <a class="dropdown-item">item 1</a>
                    <a class="dropdown-item">item 2</a>
                    <a class="dropdown-item">item 3</a>
                </d-button-more>

                <d-button-dropdown text="notification" [pullRight]="true">
                    <div class="list-group" style="width: 400px;">
                        <a href="#"
                            class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </d-button-dropdown>

                <d-button-collapsible text="collapsible">
                    here is the content.
                </d-button-collapsible>
        </d-widget>
        <d-widget title="Groups" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <div class="m-1">
                    <form-select labelLeft="select" [items]="['item1', 'item2','item3']" [enableTextEntry]="true">
                    </form-select>
                </div>

                <div class="m-1">
                    <form-select labelLeft="multi select" [multiSelect]="true" [items]="['item1', 'item2','item3', 'item4', 'item5', 'item6', 'item7']" [enableTextEntry]="true">
                    </form-select>
                </div>

                <div class="m-1">
                    <form-input labelLeft="input" placeholder="input 1"></form-input>
                </div>

                <div class="m-1">
                    <form-tags labelLeft="tags" placeholder="input 1" [value]="['item1', 'item2', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3', 'item3']"></form-tags>
                </div>

                <div class="m-1">
                    <form-tags-dropdown labelLeft="tags dropdown" placeholder="input tags"
                        [items]="['item1', 'item2','item3']"></form-tags-dropdown>
                </div>

                <div class="m-1">
                    <form-select name="formSelect" label="" [multiSelect]="true" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" [textEntryItems]="['value1', 'value2', 'value3']"
                    itemName='name' itemKey='key' [enableTextEntry]="true" [(ngModel)]="multiSelectedItems2" [ngModelOptions]="{standalone: true}" ></form-select>
                </div>

                <div class="input-group m-1">
                    <div leftLabel="input groups" class="form-control p-0">
                        <form-input [border]="false"></form-input>
                    </div>
                    <div class="form-control p-0">
                        <form-input [border]="false"></form-input>
                    </div>
                    <div class="form-control p-0">
                        <form-input [border]="false"></form-input>
                    </div>
                    <div class="form-control p-0">
                        <form-input [border]="false"></form-input>
                    </div>
                </div>

                <div class="input-group m-1">
                    <div class="form-control p-0">
                        <form-input [border]="false"></form-input>
                    </div>
                    <div class="form-control p-0">
                        <form-select [border]="false" [items]="['item1', 'item2','item3']"></form-select>
                    </div>
                    <div class="form-control p-0">
                        <form-select [border]="false"></form-select>
                    </div>
                    <div class="form-control p-0">
                        <form-select name="formSelect" label="" [multiSelect]="true" [items]="[{key:1, name:'item1'}, {key:2, name:'item2'}, {key:3, name:'item3'}]" [textEntryItems]="['value1', 'value2', 'value3']"
                    itemName='name' itemKey='key' [enableTextEntry]="true" [(ngModel)]="multiSelectedItems2" [ngModelOptions]="{standalone: true}" ></form-select>
                    </div>
                </div>

                <div class="input-group m-1">
                    <form-tags class="form-control p-0" [border]="false" placeholder="input 1"></form-tags>
                    <form-tags-dropdown class="form-control p-0" [border]="false" placeholder="input tags"
                        [items]="['item1', 'item2','item3']"></form-tags-dropdown>
                </div>

                <div class="input-group m-1">
                    <form-input class="form-control p-0" [border]="false" placeholder="input 1"></form-input>
                    <d-button-view class="input-group-append"></d-button-view>
                </div>
        </d-widget>

        <d-widget 
            title="header" 
            [padding]="true" 
            [showCloseButton]="true"
            iconClass="fa fa-lg fa-fw fa-database">

            </d-widget>
            <d-widget title="Tabs" [padding]="true" iconClass="fa fa-lg fa-fw fa-database">
                <ng-template #header>
                    <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            </ul>
                </ng-template>
            </d-widget>

            <d-widget 
                title="pills" 
                [padding]="true" 
                [showCloseButton]="true"
                iconClass="fa fa-lg fa-fw fa-database">
                <ng-template #header>
                    <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            </ul>
                </ng-template>
                </d-widget>
</d-widget-columns>
